:root {
  --wpi-event-header-default-bg-color: #21759b;
  --wpi-event-header-default-color: #fff;
  --wpi-event-header-button-padding: 5px 10px;
}

.wp-block-create-block-wpi-event-header {
	background-color: var(--wpi-event-header-default-bg-color);
	color: var(--wpi-event-header-default-color);
}


.wpi-event-header {
  padding: var(--wpi-event-header-padding, 10px 0px);
}

.wpi-event-header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "a c"
    "b c";
  grid-gap: 10px;
}

.wpi-event-header-start-date {
  grid-area: a;
}

.wpi-event-header-location {
  grid-area: b;
}

.wpi-event-header-links {
  grid-area: c;
  align-self: center;
  justify-self: end;
  display: flex; 
  flex-direction: column;
  gap: 8px;
}

.wpi-event-header-register-link {

  & a {
    padding: var(--wpi-event-header-register-link-padding, var(--wpi-event-header-button-padding));
    border: var(--wpi-event-header-register-link-border, 1px solid var(--wpi-event-header-default-color));
    border-radius: var(--wpi-event-header-register-link-border-radius, 12px);
    text-decoration: none;

    &:hover {
      background-color: var(--wpi-event-header-register-link-bg-color-hover, var(--wpi-event-header-default-color));
      color: var(--wpi-event-header-register-link-color-hover, var(--wpi-event-header-default-bg-color));
    }
  }
}

.wpi-event-header-ical-link {

  & a {
    font-size: smaller;
    &:before {
      content: "\002B";
    }
  }
}
